_site
.sass-cache
_site
.DS_Store
_drafts
s3_website.yml
.pygments-cache
.ruby-version
.ruby-gemset
feed.xml
.RData
.Rhistory
*.html
builds/
build_md/
# ignore massive files
data/usgs-quakes-dump.csv
data/shp/US_OG*.*
!data/shp/US_OG_022014notes.txt.txt
final_md/
